<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <title>Layout Simples</title>
        
        <link rel="stylesheet" type="text/css" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" href="../../../resources/css/signin.css" th:href="@{/resources/css/signin.css}"/>
        <link rel="stylesheet" type="text/css" href="../../../resources/css/jquery-ui.min.css" th:href="@{/resources/css/jquery-ui.min.css}"/>
        <link rel="stylesheet" type="text/css" href="../../../resources/css/custom.css" th:href="@{/resources/css/custom.css}"/>
        
        <script src="../../../resources/js/jquery-3.1.0.min.js" th:src="@{/resources/js/jquery-3.1.0.min.js}"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script src="../../../resources/js/jquery-ui.min.js" th:src="@{/resources/js/jquery-ui.min.js}"></script>
    </head>
    <body>
        <th:block layout:fragment="content"/>
    </body>
</html>
